<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="ricsirke">
        <title>home :)</title>
        
        <script type="text/javascript" src="static/jquery-3.1.1.min.js"></script>
        
        
    </head>
    <body>
    {% if name %}
      <h1>Hello, {{ name }}!</h1>
    {% else %}
      <h1>Hello, stranger!</h1>
    {% endif %}
    
    <br><br>

    <button type="button" id="btnOnoff">{{ toogleBtnVal }}</button>
    <button type="button" id="btnLedPlus">+</button>
    <button type="button" id="btnLedMin">-</button>
    <button type="button" id="btnStrob">strob</button>
    <input id="rngStrobVal" type="range" min="0" max="100" value="0" step="5" />
    <span id="strobVal">0</span>
    <br>
    <button type="button" id="btnLedStop">stop</button>
    <br><br>
    <div id="tempCont">Temp <div id="temp"></div> C</div>
    <div id="humCont">Hum <div id="hum"></div> %</div>
    
    <script type="text/javascript" src="static/index.js"></script>
    </body>
</html>